@page
@model RPG.Pages.Game
@{ ViewData["Title"] = "setKeyLocation";
}

<p>klíč: @Model.gameState.Key</p>
<p>index: @Model.index</p>
<p>pozice klíče: @Model._ss.getKeyLocation()</p>

@for (int i = 0; i < Model.rooms.Count; i++)
{
<p> @Model.rooms[i].id - @Model.rooms[i].raided - @Model.rooms[i].containsEnemy</p>
}


@if(Model.index == 14 && Model.gameState.Key == true)
{
<p>Odemykáš dveře, ez (s)klep.</p>
<a href="@Url.Page("./Index")"><button>Začít znovu</button></a>
}
@{       else if(Model.gameState.HP == 0)
    {
            <p>Zabili tě jako...?</p>
            <a href="@Url.Page("./Index")"><button>Začít znovu</button></a>
    }
} 
@{
    else
    {
    <p>@Model.rooms[Model.index].description</p>
    @if(Model.index == Model._ss.getKeyLocation() && Model.rooms[Model.index].raided == false)
    {
    <p>Našel jsi klíč, tak ty jdeš fakt že jdeš.</p>
    }


    <form method="post">
        @for (int i = 0; i < @Model.rooms[Model.index].rooms.Length; i++)
        {
        <div class="form-check">
            <input type="hidden" asp-for="@Model.key" value="@Model.key" />
            <label class="form-check-label" asp-for="@Model.index">
                <button type="submit" name="index" value="@Model.rooms[Model.rooms[Model.index].rooms[i]].id">@Model.rooms[Model.rooms[Model.index].rooms[i]].button</button>
            </label>
        </div>
        }
    </form>

    }
    @if (Model.rooms[Model.index].containsEnemy == true && Model.rooms[Model.index].raided == false)
    {
   <img src="~/img/jumpscare.jpg" class="animated fadeOut jumpscare animated.delay-3s">
   <audio autoplay>
        <source src="~/audio/jumpscare.mp3" type="audio/mp3">
   </audio>
    }
}
