<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RPG</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/animation.css" />
    <link rel="stylesheet" href="~/css/icon.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><div class="icon-loop"></div></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                </div>
                <div>
                    <label for="file">HP:</label>
                    <progress id="file" max="100" value="@Model.gameState.HP">@Model.gameState.HP</progress>
                </div>
                <div>
                    @if (@Model.gameState.Key == true)
                    {<img src="~/img/keyTrue.png" />}
                    else
                    { <img src="~/img/keyFalse.png" />}
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted position-fixed bg-light mt-1">
        <div class="d-flex justify-content-around">
            <p>Narazili jste na chybu, nebo máte nějakou přopomínku? <a href="mailto:denis.tauchman1@gmail.com">Mo(u)drý Denis</a> nebo <a href="mailto:jan.smutný@gmail.com">Rudý John</a></p>
            <a href="@Url.Page("./Titles")">TITLES</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
